* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    color: rgb(198, 195, 190);
  }
  .header-img {
    width: 70px;
  
  }
  
  #sign-up {
    text-decoration: underline;
  }
  
  p {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  
  .gallery-img {
    width: 150px;
  }
  
  .tech {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 25px;
  }
  
  .html {
    padding-top: 10px;
    height: 200px;
    width: 160px;
    background-color:rgb(238, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    box-shadow: 1px 4px 6px 1px lightgray;
  }
  
  .css {
    padding-top: 10px;
    height: 200px;
    width: 160px;
    background-color:rgb(238, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 4px 6px 1px lightgray;
  }
  
  .js {
    height: 200px;
    width: 160px;
    padding-top: 10px;
    background-color:rgb(238, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    box-shadow: 1px 4px 6px 1px lightgray;
  }
  
  .tech2 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 15px;
  }
  
  .react {
    height: 200px;
    width: 160px;
    padding-top: 10px;
    background-color:rgb(238, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    box-shadow: 1px 4px 6px 1px lightgray;
  }
  
  .rtl {
    height: 200px;
    width: 160px;
    padding-top: 10px;
    background-color:rgb(238, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 4px 6px 1px lightgray;
  }
  
  .redux {
    height: 200px;
    width: 160px;
    padding-top: 10px;
    background-color:rgb(238, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    box-shadow: 1px 4px 6px 1px lightgray;
  }
  
  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 20px;
  }
  
  hr {
    margin-left: 44%;
    margin-right: 44%;
    margin-top: 20px;
  }
  
  .social-img {
    width: 25px;
    margin-left: 10px;
  }
  
  